<!DOCTYPE html>
<html>
    <head>
    {% load static %}
        <link rel="stylesheet" href="{% static 'admin_dashboard.css' %}">
    </head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>Manage Users</h2>
    <a href="{% url 'student_list' %}"><button>View Students</button></a>
    <a href="{% url 'teacher_list' %}"><button>View Teachers</button></a>

    <h2>Logout</h2>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

</body>
</html>
