<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Form</title>
    <style>
        body {
        text-align:center; 
        display:flex; 
        flex-direction: column;
        align-items:center; 
        justify-content: center;
        height: 100vh;
        background-color:rgb(172, 162, 162)}
        a{
            display:inline-block;
            margin-top: 35px;
        }
        h2{
            background-color:black;
            color:white;
            padding:8px;
            border-radius:15px;
        }
    </style>
</head>
<body>
    <h2>{% if form.instance.id %}Edit{% else %}Add{% endif %} Assignment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'assignment_list' %}">Back to Assignments</a>
</body>
</html>
