<!DOCTYPE html>
<html>
    <head>
        <title> Student Scores </title>
        <link rel="stylesheet" href="../static/scores_list.css">
    </head>
    <body>
        <main>
            <div>
        {% comment %} {% if request.user.teacher == teacher %}
        <a href= "{% url 'scoresadd_add' %}"><button>Add Scores</button></a>
        {% endif %}  {% endcomment %}
        <div class="table-container">
        <table border="1">
            <thead>
                <tr>
                    {% comment %} <th>ID</th> {% endcomment %}
                    <th>Assignment_name</th>
                    <th>Student_id</th>
                    <th>upload_assignment</th>
                    <th>scores</th>
                    <th>open assignment</th>
                    {% if role == "teacher" %}
                    <th> edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    {% comment %} {% if request.session.teacher_id == teacher.id %} {% endcomment %}
                    <td>{{ score.assignment.assignment_name }}</td>
                    <td>{{ score.student}}</td>
                    <td>{{ score.file_upload }}</td>
                    <td>{{ score.scores }}</td>
                    <td><a href="{% url 'score_file' pk=score.id %}" target="">Open</a></td>
                        {% if role == "teacher" %}
                        <td><a href="{% url 'scores_update' id=score.id %}">Edit</a></td>
                        {% endif %}
                </tr>
                    {% comment %} {% endif %} {% endcomment %}
                {% endfor %}
            </tbody>
        </table></div>
        {% if request.session.role == "student" %}
        <a href="{% url 'student_list' %}">Back to student list</a>
        {% endif %}
        {% if request.session.role == "teacher" %}
        <a href="{% url 'teacher_list' %}">Back to teacher list</a>
        {% endif %}
        {% comment %} {% if request.user.teacher %}
        <a href= "{% url 'scoresadd_add' %}"><button>Add Scores</button></a>
        {% endif %} {% endcomment %}
        {% if role == "student" %}
            <a href= "{% url 'scores_add' %}" class="link-container"><button>add student assignment</button></a>
        {% endif %}
    </div>
</main>
</body>
</html>






