<!DOCTYPE html>
<html>
<head>
    <title>
        {% if form.instance.pk %}Edit Scores{% else %}Add Scores{% endif %}
    </title>
    <style>
        body {
        text-align:center; 
        display:flex; 
        flex-direction: column;
        align-items:center; 
        justify-content: center;
        height: 100vh;
        background-color:rgb(172, 162, 162)}
        a{
            display:inline-block;
            margin-top: 35px;
        }
        h2{
            background-color:black;
            color:white;
            padding:8px;
            border-radius:15px;
        }
    </style>
</head>
<body>
    <h2>{% if form.instance.pk %}Edit Scores{% else %}Add Scores{% endif %}</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <a href="{% url 'scores_list' %}">Back to List</a>
</body>
</html>
