<!DOCTYPE html>
<html>
<head>
    <title>Confirm Deletion</title>
    <style>
        body {
        text-align:center; 
        display:flex; 
        flex-direction: column;
        align-items:center; 
        justify-content: center;
        height: 100vh;
        background-color:rgb(172, 162, 162)}
        a{
            display:inline-block;
            margin-top: 35px;
        }
        h2{
            background-color:black;
            color:white;
            padding:8px;
            border-radius:15px;
        }
    </style>
</head>
<body>
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete {{ student.name }}?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
    </form>

    <a href="{% url 'student_list' %}">Cancel</a>
</body>
</html>
