<!DOCTYPE html>
<html lang="en">  
    <head>
        <link rel="stylesheet" href="../static/teacher_list.css">
<body>
    <header>
    <h2>Teachers</h2>
    {% if request.session.role == "admin" %}
    <a href="{% url 'teacher_create' %}"><button>Add New teacher</button></a>
    {% endif %}
    </header>
    <main><div>
    <ul>
        {% for teacher in teachers %}
            <li>
                {{ teacher.name }} - {{ teacher.subject }}
                {% if request.session.role == "admin" or request.session.teacher_id == teacher.id %}
                {% comment %} <div>{{request.session.role}}</div> {% endcomment %}
                    <a href="{% url 'teacher_update' teacher.id %}" class="external-link">Edit</a>
                    <a href="{% url 'teacher_delete' teacher.id %}" class="external-link">Delete</a>
                    {% comment %} <a href="{% url 'teacher_assignment' teacher.id %}">Assignment</a> {% endcomment %}
                {% endif %}
            </li>
        {% empty %}
            <li>No teachers found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'assignment_list' %}?role=teacher"><button>Assignment_list</button></a>
    <a href="{% url 'scores_list' %}?role=teacher"><button>Scores</button></a>
    <a href="{% url 'student_list' %}"><button>students</button></a>
</div></main>
   <footer> 
    {% comment %} <h2>Logout</h2> {% endcomment %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</footer>
</body>
</html>
